@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin position($positioning, $top: null, $right: null, $bottom: null, $left: null) {
  position: $positioning;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin center-block() {
  margin-left: auto;
  margin-right: auto;
}

@mixin margin($top: null, $right: null, $bottom: null, $left: null) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin padding($top: null, $right: null, $bottom: null, $left: null) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin box-sizing($box) {
  -webkit-box-sizing: $box;
  -moz-box-sizing: $box;
  -ms-box-sizing: $box;
  box-sizing: $box;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -ms-box-shadow: $args;
  box-shadow: $args;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  transform: $args;
}

@mixin inline-block($alignment: middle) {
  display: inline-block;
  vertical-align: $alignment;
}

@mixin background-image($image: null, $size: null) {
  @if ($image) {
    background-image: url($image-path + $image);
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: $size;
}

@mixin circle($color: $color--circle) {
  background-color: $color;
  border-radius: 50%;
}

@mixin dottedborder($side) {
  border-#{$side}: 4px dotted $color-dottedborder;
}